@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap');
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 1.1rem;
}
html,body,ul,li,div,section,h1,p{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    font-weight: bolder;
    margin: 3%;
}
.ml16 {
    color: #402d2d;
    text-transform: uppercase;
    overflow: hidden;
  }
  
  .ml16 .letter {
    display: inline-block;
    line-height: 1em;
    font-size: 2rem;
  }

h1 ion-icon{
    font-size: 2rem;
}
h3,h4{
    font-weight: bold;
}
ul{
    list-style: none;
}
html,body{
    width: 100%;
}
body{
    background: url(content/city.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* header */
.bg-light {
    opacity: 0.95;}
.container-fluid{
    margin: auto 3%;
}
.navbar-brand{
    font-size: 2rem;
    font-weight: bolder;
    padding: 0;
}

/* main */
.flex-column{
    display: flex;
    align-items: center;
}
.flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
    main section{
        width: 100%;
        padding: 7% 0;
        text-align: center;
    }
/* yun */
#yun{
    background-color: rgba(248, 248, 255, 0.7);
    padding-top: 2%; 
}
.yun_div{
    width: 85%;
    margin: auto;
}
.yun_div img{
    width: 40%;
    box-shadow: 0px 0px 10px 1px black;
}
.yun_div div{
    width: 60%;
    text-align: left;
    font-weight: 400;
    padding-left: 5%;
    padding-right: 14%;
}
    .yun_div h1{
        margin: 5% 0;
    }
    #yun a{
        animation: blink 5s linear infinite;
        font-size: 1rem;
        font-weight: bold;
        box-shadow: 0px 0px 5px 1px #9ec5fe;
    }
    #yun a:hover{
        background-color: #9ec5fe;
        color: black;
    }
    @keyframes blink{
        50%{
            background-color: #9ec5fe;
            color: black;
        }
    }
/* about */
#about{
    background-color: rgb(248, 248, 255);
}
#about h1{
    margin-bottom: 0;
}
    #about h1 ion-icon{
        animation: bling 2s infinite;
        transform: rotate(-10deg);
    }
    @keyframes bling{
        50%{
            color: yellow;
            transform: rotate(10deg);
        }
    }
.about_ul{
    align-items: flex-start;
    width: 70%;
    margin: 0 auto;
}
    .about_ul li{
        width: 100%;
        padding: 2% 5%;
        text-align: center;
    }
    .about_ul div{
        margin: 10% auto;
    }
    .about_ul ion-icon{
        font-size: 2rem;
        color: black;
    }
    .about_ul ion-icon:hover{
        color: #3d8bfd;
    }
    .about_ul strong{
        margin: 2%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }


/* skills */
#skills{
    background-color: #6f42c1;
    color: ghostwhite;
}
    #skills h1 ion-icon{
        animation: rocket 4s infinite;
        transform:  translate(-10px, 20px);
    }
    @keyframes rocket{
        50%{
            color: red;
            transform: translate(10px, -20px);
            opacity: 0;
        }
        51%{
            color: ghostwhite;
        }
        70%{
            transform: rotate(-200deg);
            opacity: 1;
        }
    }
.skills_list{
    width: 37%;
    color: black;
    background-color: ghostwhite;
    border-radius: 10px;
    margin: 2%;
    padding: 1%;
    text-align: center;
    transition: 0.3s;
}
    .skills_list:hover{
        transform: scale(1.02);
    }
    .skills_list h4{
        width: 50%;
        border-bottom: 1px solid black;
        margin: 5% auto;
    }
    .skills_list img{
        width: 50%;
        margin: 4%;
    }
    .skills_list span{
        display: block;
        width: 80%;
        padding: 1% 5%;
        margin: 0 auto 5% auto;
        border-left: 1px solid rgba(114, 114, 114, 0.5);
        border-bottom: 1px solid rgba(114, 114, 114, 0.5);
        text-align: left;
    }

/* project_show */
#project_show{
    margin: 0;
    background-color: #3d8bfd;
    position: relative;
    padding-bottom: 3%;
}
#project_show h1{
    margin-bottom: 0;
}
#project_show h1 ion-icon{
    animation: palette 6s linear infinite;
}
    @keyframes palette{
        20%{
            color: blue;
        }
        50%{
            transform: rotate(20deg);
            color: green;
        }
        70%{
            color: violet;
        }
        90%{
            transform: rotate(-20deg);
            color: purple;
        }
    }
.carousel{
    width: 90%;
    margin: 0 auto;
    padding: 2%;
}
.carousel button span ion-icon{
    font-size: 4rem;
}
.carousel-indicators{
    margin-bottom: 0;
}
.card{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: 1.5% auto;
    border: none;
    background: transparent;
}
.mb-3{
    margin-bottom: 3% !important;
}
    .card ion-icon{
        font-size: 1.6rem;
        line-height: normal;
    }
    .card img{
        max-width: 50%;
        max-height: 300px;
        margin: 1%;
    }
    .card p{
        width: 50%;
        padding: 3%;
        font-size: 1.3rem;
    }
    .card a{
        display: block;
        color: black;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        line-height: inherit;
        margin: 2% auto;
    }

/* project */
#project{
    background-color: #3d8bfd;
    padding-top: 0;
}
    #project li{
        width: 90%;
        margin: 5%;
        padding: 3% 0;
        border-radius: 50px;
        background-color: #9ec5fe;
    }
    .project_div{
        width: 90%;
        margin: 3% auto;
    }
    .project_div img{
        width: 40%;
        filter: saturate(80%);
        animation: blink 5s infinite;
    }
    @keyframes blink {
        50%{
            filter: saturate(150%);
        }
    }
    .project_div p{
        width: 60%;
        text-align: left;
        padding-left: 3%;
    }
    .project_div strong{
        display: block;
    }
/* profile */
#profile{
    background-color: #495057;
    color: ghostwhite;
}
#profile h1 ion-icon{
    animation: person 2s infinite;
}
@keyframes person{
    50%{
        transform: translateX(10px);
    }
}
    #profile .flex-column{
        width: 80%;
        margin: 0 auto;
    }
.profile_box{
    align-items: flex-start;
    margin: 3% 0;
}
    .profile_box h4{
        width: 30%;
    }
    .profile_box p{
        text-align: left;
        width: 70%;
    }



/* btn list */
.btn_list{
    left: 89%;
    bottom: 20%;
    margin: 0 3%;
}
.btn_list a{
    color: rgb(46, 46, 46);
    text-decoration: none;
    transition: 0.5s;
}
    .btn_list a:hover{
        color: ghostwhite;
    }

/* btn up */
.btn_up{
    left: 87%;
    width: 15%;
    margin: 2% 0;
}
    .btn_up a{
        color: rgb(46, 46, 46);
        text-decoration: none;
        padding: 10%;
    }
    .btn_up a:hover{
        color: #084298;
    }
    .btn_up a ion-icon{
        font-size: 3rem;
    }

/* footer */
footer{
    background-color: rgba(248, 248, 255, 0.5);
    padding: 3.6%;
}
footer div a{
    color: black;
}
footer ion-icon{
    font-size: 2rem;
}

@media all and (max-width:1024px){
    .yun_div{flex-direction: column !important;}
    .yun_div div{
        width: 90%;
        padding: 2% !important;
        text-align: center !important;
    }
    #yun a{margin: 1%;}
    .skills_list{width: 40%;}
    .carousel{width: 100%;}

    .carousel-control-next, .carousel-control-prev{
        width:auto !important;
    }
    .project_div{
        flex-direction: column !important;
        width: 100% !important;}
    .project_div p{
        width: 90% !important;
        padding: 0;}
    .project_div img{
        width: 80%;
        margin-bottom: 2%;
    }
}
@media all and (max-width:768px){
    *{font-size: 1rem;}
    .about_ul{
        flex-direction: column !important;
        width: 100%;}
    .about_ul div{
        margin: 5% auto;
    }
    #skills .flex-row{
        flex-direction: column !important;
        align-items: center !important;
    }
    .skills_list{
        width: 85% !important;}
    .card{
        flex-direction: column;
        height: max-content}
    .card img{
        max-width: 80%;
        height: auto;
    }
    .card a{
        font-size: 1.1rem;}
    .card ion-icon{
        font-size: 1.1rem;}
    .card p{
        width: 95%;
        font-size: 1rem;}
    .carousel button span ion-icon{
        font-size: 2rem;}
    .profile_box{
        flex-direction: column !important;}
    .profile_box p{
        width: 100%;
    }
    .profile_box h4{
        width: auto;}
}
@media all and (max-width:480px){
    .yun_div div{
        width: 100%;
    }
    .card{
        height: max-content;
    }
    .project_div p{
        width: 90% !important;}
    .btn_up{
        left: 85%;
        margin: 5% 0;
    }
    .btn_up a ion-icon{
        font-size: 2.3rem;
    }
}

